<div>
    <form name="form" novalidate
          ng-submit="send()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" name="phone" id="phone" class="form-control" ng-model="user.phone" required />
        </div>
    </form>

    <div class="form-actions">
        <button class="btn btn-primary" id='selectLocation' ng-click="selectLocation()">select location</button>
    </div>

    <div ng-show="visibleLocation">
        <select-location></select-location>
    </div>

    <button class="btn btn-primary"
            ng-disabled="form.$invalid || searchForm.$invalid" ng-click="submit()">Submit</button>
</div>
