<!DOCTYPE html>
<html>
<head>
    <title>Form+Location</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/controllers.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js">
    </script>
    <!-- Google Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

</head>
<body ng-app="app">
    <div ng-controller="MainCtrl">
        <form name="form" novalidate
              ng-submit="send()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="User.username" required />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" ng-model="User.email" required />
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="phone" name="phone" id="phone" class="form-control" ng-model="User.phone" required />
            </div>
        </form>

        <div class="form-actions">
            <button class="btn btn-primary" ng-click="selectLocation()">select location</button>
        </div>

        <div ng-show="visibleLocation">
            <div ng-controller="MapCtrl">
                <form name="searchForm" novalidate
                      ng-submit="search()">
                    <div class="form-group">
                        <input name="place" type="text" class="form-control"
                               ng-model="searchPlace" required autofocus />
                        <p ng-show="Place.apiStatus" class="error">No result</p>
                        <span class="input-group-btn">
                        <button class="btn btn-primary"
                                ng-disabled="searchForm.$invalid">Search</button>
                    </span>
                    </div>
                </form>
                <div id="map"></div>
                <button class="btn btn-primary"
                        ng-disabled="form.$invalid || searchForm.$invalid" ng-click="submit()">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>
