<div ng-controller="selectLocationController">
    <form name="searchForm" novalidate
          ng-submit="search()">
        <div class="form-group">
            <input name="place" type="text" class="form-control"
               ng-model="searchPlace" required autofocus />
            <p ng-show="Place.apiStatus" class="error">No result</p>
            <span class="input-group-btn">
                <button class="btn btn-primary"
                    ng-disabled="searchForm.$invalid">Search</button>
            </span>
        </div>
    </form>
    <div id="map"></div>
</div>

